.appmain{
  display: grid;
height: 100%;
width: 100%;
display: grid;
grid-template-rows: 75px 600px 125px;
grid-template-columns: 100%;
margin: auto;
background-color: black;
}

.main-header{
  display: grid;
  grid-template-columns: 25% 75%;

}

.main-body{
  display: flex;
  justify-content: center;
  align-items: center;
  color:white;

}

.main-footer{
  display: grid;
  justify-content: center;

}

li{
  display:inline-block;
  margin: auto;
  font-size: 20px;
  padding: 15px;
}
li a{
  display: block;
  padding: 8px;
  color: white;
}
button{
  display: block;
  text-align: center;
  color: white;
  font-size: 20px;
  background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

a:link {
  text-decoration: none;
}
a:visited {
  text-decoration: none;
}

.App-logo {
  height: 8vmin;
  pointer-events: none;
}
.macMockup {
  height: 50vmin;
  pointer-events: none;
  float: left;

}
.nav-logo{
  float: left;
  background-color: black;
  padding-left: 15%;
  padding-top: 5%;
  color:white;
}
.nav-links{
  float:right;
  padding-right: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20px;
  border-color: blue; 
}
#getaccount{
  background-color: red;
}
#getaccount:hover{
  background-color: gray;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.25);
}

.modal_content {
  background-color: white;
  position: absolute;
}
